<h1>Listing test_scaffs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_scaffs.each do |test_scaff| %>
      <tr>
        <td><%= link_to 'Show', test_scaff %></td>
        <td><%= link_to 'Edit', edit_test_scaff_path(test_scaff) %></td>
        <td><%= link_to 'Destroy', test_scaff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test scaff', new_test_scaff_path %>
